<div class="card-deck" id = "goalCard">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><a href="/goal/{{id}}">{{name}}</a></h5>
       <p class="card-text">{{user.email}}</p>
       <ul class="list-group list-group-flush">
        <li class="list-group-item">{{frequency}} times/week</li>
        <li class="list-group-item">{{duration}} weeks</li>
        <li class="list-group-item">Commit</li>
      </ul>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-primary">Add a Buddy</a>
        <button><a href="#" class="card-link">Done</a></button>
        <button class="btn btn-sm btn-danger" data-id="{{goal.id}}">Delete</button>
    </div>
  </div>
 </div>

 <script src="./js/profile.js"></script>
