{{#each goals as |goal| }}
<div class="edit-goal-form card m-3" style="width: 18rem;">
    <div class="card-body">
        <form id="new-goal-form">
            <div class="form-group">
                
                    <h5 class="card-title">Edit Goal </h5>
                </label>
                <input class="form-control" id="newGoal" name="titleNewPost"  value="{{goal.name}}" aria-describedby="emailHelp"
                    placeholder="{{goal.name}}">
            </div>
            <div class="form-group">
                
                <input class="form-control" id="frequency" value="{{goal.frequency}}" name="contentNewPost"
                    placeholder="{{goal.frequency}}">
            </div>
            <div class="form-group">
                
                <input class="form-control" id="duration" name="contentNewPost" value="{{goal.duration}}"
                    placeholder="{{goal.duration}}">
            </div>

            <div class="form-group">
                
                <input class="form-control" id="progress" name="contentNewPost" value="{{goal.progress}}"
                    placeholder="{{goal.progress}}">
            </div>

            <button type="submit" class="btn btn-primary" id="createBtn">Confirm</button>
        </form>
    </div>
</div>
{{/each}}

<script src="./js/goal.js"></script>